In [33]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\mart\anaconda3\lib\site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\mart\anaconda3\lib\site-packages (from beautifulsoup4) (2.4)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [30]:
# Starting URL to scrape the 20 URLs
starting_url = 'https://www.mse.mn/en/mse_top_20/266'

# Fetch the HTML content of the webpage
response = requests.get(starting_url)
html_content = response.content

# Check if the request was successful (status code 200)
if response.status_code == 200:
    soup = BeautifulSoup(html_content, 'html.parser')
    table = soup.find('table', class_='table dividend trade_table table-bordered table-striped table-hover table-condensed')

    # Check if the table is found
    if table:
        tbody = table.find('tbody')

        # Check if tbody is found
        if tbody:
            urls = []
            names = []  # New list to store the text from <a> tags
            for row in tbody.find_all('tr'):
                link = row.find('a')
                if link:
                    href = link.get('href')
                    full_url = f"https://www.mse.mn{href}"
                    urls.append(full_url)

                    # Extract text from <a> tag and append to names list
                    name_text = link.get_text(strip=True)
                    names.append(name_text)

            # Create DataFrame with URLs and Names columns
            url_df = pd.DataFrame({'URLs': urls, 'Names': names})
            
            # Print or display the DataFrame
            print(url_df)
            
            # Optionally, save the DataFrame to a CSV file
            url_df.to_csv('url_data_with_names.csv', index=False)
        else:
            print("No tbody found in the table.")
    else:
        print("No table with the specified class found.")
else:
    print(f"Failed to retrieve the webpage. Status Code: {response.status_code}")


# List to store DataFrames for each URL
dfs = []

# Loop over each row in the DataFrame and scrape data
for i, row in url_df.iterrows():
    # Extract the URL and name from the row
    url = row['URLs']
    company_name = row['Names']

    # Fetch the HTML content of the webpage
    response = requests.get(url)

    # Check if the request was successful (status code 200)
    if response.status_code == 200:
        html = response.text

        # Parse the HTML using BeautifulSoup
        soup = BeautifulSoup(html, 'html.parser')

        # Find the table with the specified class
        table = soup.find('table', class_='table table-bordered trade_history_result table-striped table-hover table-condensed')

        # Check if the table is found
        if table:
            # Find the table body
            tbody = table.find('tbody')

            # Check if tbody is found
            if tbody:
                # List to store data for each row
                data = []

                # Iterate over each row in the table body and extract the desired data
                for row in tbody.find_all('tr'):
                    # Find all 'td' elements in the current row
                    columns = row.find_all('td')

                    # Extract the 2nd, 6th, and 8th 'td' elements
                    if len(columns) >= 8:
                        second_column = columns[1].text.strip()
                        sixth_column = columns[5].text.strip()
                        eighth_column = columns[7].text.strip()

                        # Append the data as a dictionary to the list
                        data.append({'Highest Price': second_column, 'Volume': sixth_column, 'Date': eighth_column, 'Company': company_name})

                # Convert the list of dictionaries to a DataFrame
                df = pd.DataFrame(data)

                # Append the DataFrame to the list
                dfs.append(df)

                # Optionally, you can display the DataFrame
                print(f"Data for {company_name}:\n{df}\n" + "="*40 + "\n")
            else:
                print(f"No tbody found in the table for {company_name}")
        else:
            print(f"No table with the specified class found for {company_name}")
    else:
        print(f"Failed to retrieve the webpage. Status Code: {response.status_code}")

# Combine all DataFrames into a single DataFrame if needed
combined_df = pd.concat(dfs, ignore_index=True)

                                 URLs Names
0    https://www.mse.mn/en/company/90   APU
1   https://www.mse.mn/en/company/562  GLMT
2   https://www.mse.mn/en/company/326  AARD
3   https://www.mse.mn/en/company/546  ERDN
4   https://www.mse.mn/en/company/553   INV
5   https://www.mse.mn/en/company/564   SBM
6   https://www.mse.mn/en/company/557  CUMN
7   https://www.mse.mn/en/company/354   GOV
8   https://www.mse.mn/en/company/484   UID
9   https://www.mse.mn/en/company/458   TTL
10  https://www.mse.mn/en/company/549   TUM
11  https://www.mse.mn/en/company/551   MFC
12  https://www.mse.mn/en/company/547  MNDL
13  https://www.mse.mn/en/company/135   SUU
14  https://www.mse.mn/en/company/558  BOGD
15  https://www.mse.mn/en/company/550   ADB
16  https://www.mse.mn/en/company/548   AIC
17  https://www.mse.mn/en/company/541   MNP
18  https://www.mse.mn/en/company/561  SEND
19  https://www.mse.mn/en/company/554  BODI

In [31]:
url_df

                                 URLs Names
0    https://www.mse.mn/en/company/90   APU
1   https://www.mse.mn/en/company/562  GLMT
2   https://www.mse.mn/en/company/326  AARD
3   https://www.mse.mn/en/company/546  ERDN
4   https://www.mse.mn/en/company/553   INV
5   https://www.mse.mn/en/company/564   SBM
6   https://www.mse.mn/en/company/557  CUMN
7   https://www.mse.mn/en/company/354   GOV
8   https://www.mse.mn/en/company/484   UID
9   https://www.mse.mn/en/company/458   TTL
10  https://www.mse.mn/en/company/549   TUM
11  https://www.mse.mn/en/company/551   MFC
12  https://www.mse.mn/en/company/547  MNDL
13  https://www.mse.mn/en/company/135   SUU
14  https://www.mse.mn/en/company/558  BOGD
15  https://www.mse.mn/en/company/550   ADB
16  https://www.mse.mn/en/company/548   AIC
17  https://www.mse.mn/en/company/541   MNP
18  https://www.mse.mn/en/company/561  SEND
19  https://www.mse.mn/en/company/554  BODI

Data for APU:
     Highest Price  Volume        Date Company
0            3,700     510  2014-09-16     APU
1            3,700     290  2014-09-17     APU
2            3,660     250  2014-09-18     APU
3            3,750     300  2014-09-19     APU
4            3,700   4,015  2014-09-22     APU
...            ...     ...         ...     ...
2273         1,119   8,203  2023-12-06     APU
2274         1,117  55,971  2023-12-07     APU
2275         1,117   8,843  2023-12-08     APU
2276         1,113  16,861  2023-12-11     APU
2277         1,112   7,658  2023-12-12     APU

[2278 rows x 4 columns]
========================================

Data for GLMT:
    Highest Price     Volume        Date Company
0           1,450  1,219,005  2022-12-09    GLMT
1           1,300    733,133  2022-12-12    GLMT
2           1,285    530,583  2022-12-12    GLMT
3           1,230    630,639  2022-12-13    GLMT
4           1,200    184,979  2022-12-14    GLMT
..            ...        ...         ...     ...
251           844      7,989  2023-12-07    GLMT
252           843     29,828  2023-12-08    GLMT
253           843      6,300  2023-12-11    GLMT
254           843     13,851  2023-12-12    GLMT
255         1,285    767,835  2023-12-12    GLMT

[256 rows x 4 columns]
========================================

Data for AARD:
     Highest Price  Volume        Date Company
0              100  45,028  2015-02-27    AARD
1              975  45,028  2015-03-16    AARD
2              500     420  2015-12-09    AARD
3              500     162  2016-07-19    AARD
4              576      53  2017-12-15    AARD
...            ...     ...         ...     ...
1382         3,298   7,289  2023-12-06    AARD
1383         3,452   9,921  2023-12-07    AARD
1384         3,650  95,514  2023-12-08    AARD
1385         3,648   2,818  2023-12-11    AARD
1386         3,580   3,336  2023-12-12    AARD

[1387 rows x 4 columns]
========================================

Data for ERDN:
     Highest Price  Volume        Date Company
0              698  61,879  2018-06-20    ERDN
1              680  64,679  2018-06-21    ERDN
2              673  67,219  2018-06-22    ERDN
3              674  66,649  2018-06-25    ERDN
4              663  17,129  2018-06-26    ERDN
...            ...     ...         ...     ...
1197           800   6,785  2023-12-06    ERDN
1198           808  47,335  2023-12-07    ERDN
1199           820     540  2023-12-08    ERDN
1200           811   5,526  2023-12-11    ERDN
1201           845  13,801  2023-12-12    ERDN

[1202 rows x 4 columns]
========================================

Data for INV:
     Highest Price  Volume        Date Company
0            1,730   9,712  2019-06-10     INV
1            1,733  15,600  2019-06-11     INV
2            1,800  38,919  2019-06-12     INV
3            1,840  12,234  2019-06-13     INV
4            1,850  15,904  2019-06-14     INV
...            ...     ...         ...     ...
1149         6,650     613  2023-12-07     INV
1150         6,600  37,880  2023-12-07     INV
1151         6,650     880  2023-12-08     INV
1152         6,640   1,214  2023-12-11     INV
1153         6,640      91  2023-12-12     INV

[1154 rows x 4 columns]
========================================

Data for SBM:
    Highest Price   Volume        Date Company
0             679   98,934  2022-10-11     SBM
1             780  249,819  2022-10-12     SBM
2             892   92,032  2022-10-13     SBM
3           1,025  189,148  2022-10-14     SBM
4           1,178  351,739  2022-10-17     SBM
..            ...      ...         ...     ...
287           464   10,124  2023-12-06     SBM
288           463      529  2023-12-07     SBM
289           462   19,817  2023-12-08     SBM
290           463    5,170  2023-12-11     SBM
291           463    3,046  2023-12-12     SBM

[292 rows x 4 columns]
========================================

Data for CUMN:
    Highest Price   Volume        Date Company
0             230  516,935  2021-11-15    CUMN
1             228  543,695  2021-11-16    CUMN
2             220  431,867  2021-11-17    CUMN
3             214  684,996  2021-11-18    CUMN
4             212  464,528  2021-11-19    CUMN
..            ...      ...         ...     ...
518           118      623  2023-12-06    CUMN
519           116    3,826  2023-12-07    CUMN
520           116    7,298  2023-12-08    CUMN
521           125   74,057  2023-12-11    CUMN
522           130   10,050  2023-12-12    CUMN

[523 rows x 4 columns]
========================================

Data for GOV:
     Highest Price  Volume        Date Company
0            8,200       9  2014-09-19     GOV
1            8,200      26  2014-09-22     GOV
2            8,100     120  2014-09-24     GOV
3            8,000     200  2014-09-29     GOV
4            8,000      10  2014-09-30     GOV
...            ...     ...         ...     ...
2181           255  19,400  2023-12-06     GOV
2182           254     593  2023-12-07     GOV
2183           258  12,076  2023-12-08     GOV
2184           258   4,746  2023-12-11     GOV
2185           257  17,771  2023-12-12     GOV

[2186 rows x 4 columns]
========================================

Data for UID:
     Highest Price Volume        Date Company
0              600    449  2014-09-17     UID
1              620    177  2014-09-18     UID
2              562    596  2014-09-19     UID
3              567    149  2014-09-22     UID
4              567      2  2014-09-24     UID
...            ...    ...         ...     ...
1805         3,050     42  2023-12-05     UID
1806         3,050    774  2023-12-06     UID
1807         3,022  1,742  2023-12-08     UID
1808         3,001    183  2023-12-11     UID
1809         3,002    187  2023-12-12     UID

[1810 rows x 4 columns]
========================================

Data for TTL:
     Highest Price Volume        Date Company
0            5,500  1,683  2014-09-16     TTL
1            5,210  1,102  2014-09-19     TTL
2            5,250  2,997  2014-09-22     TTL
3            5,245  1,000  2014-09-23     TTL
4            5,205    855  2014-09-24     TTL
...            ...    ...         ...     ...
2101        14,000  1,992  2023-12-06     TTL
2102        14,500  4,549  2023-12-07     TTL
2103        16,660  4,270  2023-12-08     TTL
2104        16,990  3,609  2023-12-11     TTL
2105        16,100  1,358  2023-12-12     TTL

[2106 rows x 4 columns]
========================================

Data for TUM:
     Highest Price   Volume        Date Company
0              215  104,301  2019-02-19     TUM
1              215   27,429  2019-02-20     TUM
2              211  110,394  2019-02-21     TUM
3              207   60,135  2019-02-22     TUM
4              204  171,176  2019-02-25     TUM
...            ...      ...         ...     ...
1190           327    4,553  2023-12-06     TUM
1191           327    4,528  2023-12-07     TUM
1192           327    8,441  2023-12-08     TUM
1193           325    1,590  2023-12-11     TUM
1194           325    4,864  2023-12-12     TUM

[1195 rows x 4 columns]
========================================

Data for MFC:
     Highest Price     Volume        Date Company
0               73  1,692,822  2019-05-20     MFC
1               72  1,716,514  2019-05-21     MFC
2               72    132,693  2019-05-22     MFC
3               71    503,200  2019-05-23     MFC
4               70    350,092  2019-05-24     MFC
...            ...        ...         ...     ...
1112           100     19,544  2023-12-06     MFC
1113           100     19,483  2023-12-07     MFC
1114            99     28,753  2023-12-08     MFC
1115           100     64,315  2023-12-11     MFC
1116           100      7,925  2023-12-12     MFC

[1117 rows x 4 columns]
========================================

Data for MNDL:
     Highest Price     Volume        Date Company
0               51  2,073,400  2018-09-24    MNDL
1               51     64,800  2018-09-25    MNDL
2               48    215,400  2018-09-26    MNDL
3               48     83,400  2018-09-27    MNDL
4               48    172,100  2018-09-28    MNDL
...            ...        ...         ...     ...
1278            57    155,370  2023-12-06    MNDL
1279            58     25,149  2023-12-07    MNDL
1280            60    105,269  2023-12-08    MNDL
1281            68     76,553  2023-12-11    MNDL
1282            68     36,492  2023-12-12    MNDL

[1283 rows x 4 columns]
========================================

Data for SUU:
     Highest Price Volume        Date Company
0          120,000      2  2014-11-19     SUU
1          102,000      1  2015-01-05     SUU
2          100,000    141  2015-01-06     SUU
3           88,800      4  2015-01-30     SUU
4           90,800      1  2015-02-02     SUU
...            ...    ...         ...     ...
1904           364    193  2023-12-06     SUU
1905           363     65  2023-12-07     SUU
1906           365    194  2023-12-08     SUU
1907           365    433  2023-12-11     SUU
1908           365  4,788  2023-12-12     SUU

[1909 rows x 4 columns]
========================================

Data for BOGD:
    Highest Price   Volume        Date Company
0           2,700      286  2021-12-14    BOGD
1           2,580    2,535  2021-12-15    BOGD
2           2,540   12,504  2021-12-16    BOGD
3           2,580   15,265  2021-12-17    BOGD
4           2,578    3,284  2021-12-20    BOGD
..            ...      ...         ...     ...
476            89    3,104  2023-12-06    BOGD
477            88   27,055  2023-12-07    BOGD
478            88  106,338  2023-12-08    BOGD
479            88    2,259  2023-12-11    BOGD
480            88    9,413  2023-12-12    BOGD

[481 rows x 4 columns]
========================================

Data for ADB:
     Highest Price     Volume        Date Company
0               93  4,251,313  2019-03-12     ADB
1               90    380,629  2019-03-13     ADB
2               87    486,135  2019-03-14     ADB
3               83    176,158  2019-03-15     ADB
4               82    261,265  2019-03-18     ADB
...            ...        ...         ...     ...
1162           111     19,070  2023-12-06     ADB
1163           110     17,470  2023-12-07     ADB
1164           109     21,026  2023-12-08     ADB
1165           109      8,082  2023-12-11     ADB
1166           109     35,613  2023-12-12     ADB

[1167 rows x 4 columns]
========================================

Data for AIC:
     Highest Price   Volume        Date Company
0              775  155,001  2018-10-01     AIC
1              796  159,690  2018-10-02     AIC
2              820  171,168  2018-10-03     AIC
3              903  135,939  2018-10-04     AIC
4              920  163,921  2018-10-05     AIC
...            ...      ...         ...     ...
1247           780    1,213  2023-12-06     AIC
1248           780      436  2023-12-07     AIC
1249           793    7,024  2023-12-08     AIC
1250           800    2,835  2023-12-11     AIC
1251           800    1,026  2023-12-12     AIC

[1252 rows x 4 columns]
========================================

Data for MNP:
     Highest Price   Volume        Date Company
0              185  113,000  2016-01-20     MNP
1              213    1,550  2016-01-20     MNP
2              244   92,144  2016-01-21     MNP
3              281   29,488  2016-01-22     MNP
4              321   92,224  2016-01-25     MNP
...            ...      ...         ...     ...
1527           753       49  2023-12-01     MNP
1528           753        2  2023-12-04     MNP
1529           752       35  2023-12-05     MNP
1530           758    3,090  2023-12-06     MNP
1531           740      217  2023-12-12     MNP

[1532 rows x 4 columns]
========================================

Data for SEND:
    Highest Price   Volume        Date Company
0             165   71,474  2022-10-06    SEND
1             165  269,796  2022-10-07    SEND
2             165  172,659  2022-10-10    SEND
3             180  259,853  2022-10-11    SEND
4             190   18,652  2022-10-12    SEND
..            ...      ...         ...     ...
291           131   11,024  2023-12-06    SEND
292           143    7,776  2023-12-07    SEND
293           139    6,324  2023-12-08    SEND
294           139    1,752  2023-12-11    SEND
295           139    3,059  2023-12-12    SEND

[296 rows x 4 columns]
========================================

Data for BODI:
    Highest Price   Volume        Date Company
0             123    2,849  2020-06-15    BODI
1             116    2,000  2020-06-16    BODI
2             112    3,000  2020-06-17    BODI
3             115  128,204  2020-06-18    BODI
4             116   89,159  2020-06-19    BODI
..            ...      ...         ...     ...
734            87       58  2023-12-05    BODI
735            87       97  2023-12-06    BODI
736            87       57  2023-12-07    BODI
737            87    1,942  2023-12-08    BODI
738            89      348  2023-12-11    BODI

[739 rows x 4 columns]
========================================